{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    <ul>
        <li><a href="{{ path('client_index') }}">Client</a></li>
        <li><a href="{{ path('fournisseur_index') }}">Fournisseur</a></li>
        <li><a href="{{ path('produit_index') }}">Produit</a></li>
        <li><a href="{{ path('achat_index') }}">Achat</a></li>
        <li><a href="{{ path('vente_index') }}">Vente</a></li>
    </ul>
</div>
{% endblock %}
