{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idclient</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Code  Postal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.idclient }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.codePostal }}</td>
                <td>
                    <a href="{{ path('client_show', {'idclient': client.idclient}) }}">Afficher</a>
                    <a href="{{ path('client_edit', {'idclient': client.idclient}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Ajouter un client</a>
{% endblock %}
